{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }
  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="page-width feature-product section-{{ section.id }}-padding">
{%- if section.settings.title != blank -%}
        <h2 class="title inline-richtext {{ section.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
          {{ section.settings.title }}
        </h2>
      {%- endif -%}
  <div class="feature-product-grid">
    {% for block in section.blocks %}
      {% assign product = block.settings.product %}
      <div class="products-item">
        <img src="{{ product.featured_image | image_url: width: 900 }}" alt="{{ product.title }}" loading="lazy">
        <button  class="products-hotspot"  data-product-handle="{{ product.handle }}"  data-product-description="{{ product.description | strip_html | escape }}"  style="top:{{ block.settings.hotspot_top }}%; left:{{ block.settings.hotspot_left }}%; ">
  +
</button>
      </div>
    {% endfor %}
  </div>
</div>
{% render 'quick-view-modal' %}
<script src="{{ 'product-feature.js' | asset_url }}" defer></script>
{% schema %}
{
  "name": "Product Feature",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.featured-collection.settings.header_text.content"
    },   
    {
      "type": "inline_richtext",
      "id": "title",
      "default": "t:sections.featured-collection.settings.title.default",
      "label": "t:sections.featured-collection.settings.title.label"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "Feature Product",
      "settings": [
        {
          "type":"product",
          "id":"product",
          "label":"Select Product"
        },
        {
        "type": "range",
        "id": "hotspot_top",
        "label": "Hotspot Top %",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 50
        },
        {
        "type": "range",
        "id": "hotspot_left",
        "label": "Hotspot Left %",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 50
    }
      ]
    }
  ],
  "presets":[
    {
      "name":"Product Feature"
    }
  ]
}
{% endschema %}